.container {
  position: absolute;
  bottom: 2rem;
  right: 2rem;

  padding: 1rem;
  background-color: #0e55fe;
  border-radius: 0.5rem;

  font-size: 1rem;
  color: #fefefe;
}

.container.enter {
  animation: enter 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.container.exit {
  animation: exit 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes enter {
  from {
    transform: translateY(3rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes exit {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10rem);
  }
}
