:root {
  --color-primary: #0e55fe;
  --color-secondary: #a9b4c2;
  --color-pre-code: #e7eaee;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #f9f4f5;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #0070f3;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
