.container {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.postTitle {
  margin: 0;

  font-size: 2rem;
  font-weight: bolder;

  color: var(--color-primary);
}

.coverImage {
  max-height: 30rem;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
}
