.postsContainer {
  display: flex;
  flex-direction: column;

  margin: 3rem 8% 0 8%;
  border-top: 1px solid #eee;
}

.postsContainer .postsContainerTitle {
  margin: 1rem 0 1rem 1rem;
}

.postCard {
  /* height: 4rem; */
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;

  border-radius: 0.8rem;
  transition: all 0.5s;
}

.postCard:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.postCard .postLink {
  font-weight: bolder;
  font-size: 1rem;
}

.postLink > a,
.postLink > a:visited,
.postLink > a:hover {
  color: #0e55fe;
  text-decoration: none;
}

.postCard .postDescription {
  font-size: 0.7rem;

  font-weight: 200;
}
