.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container svg {
  height: 1rem;
  width: 1rem;
  margin-left: 0.8rem;

  fill: #718196;
}

.container svg:hover {
  fill: #2b6cb0;
}
